.banner{
   background-image: url(../images/Banner.png);
   height: 90vh;
   color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* font-family: 'Permanent Marker', cursive; */
  
  font-family: 'Righteous', cursive;
}